.header {
  max-width: 1160px;
  background-color: #c2c2c2;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }
}

